.button-menu {
    background-color: #fff67c;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 4px 2px;
    text-align: center;
    border-radius: 5px;
}
.button{
    background-color: #fff67c;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
.body {
    font-family: 'Old Standard TT', serif;
}
header {
    position: relative;
    height: 50vh;
    overflow: hidden;
}
.image1 {
    background-image: url('img/Rheinturm_-_Gesamtansicht_vom_Medienhafen.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    z-index: 2;
}
.button-menu {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}